* {
  margin: 0px;
  padding: 0px;
  border: 0px;
}

body {
  font-family: sans-serif;
  overflow: scroll;
}

header > hgroup {
  background-color: rgba(168, 248, 168, 0.91);
  padding: 0.2em;
  font-weight: 100;
  text-align: center;
  line-height: 3em;
  color: #222;
}

header > hgroup > p {
  font-size: 20px;
  font-weight: 350;
}

nav > ol {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 50px;
  background-color: rgba(211, 211, 211, 0.494);
  padding: 0.5em;
  padding-right: 3em;
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

li > a {
  font-size: 20px;
}

main {
  width: 70%;
  margin: 15px auto;
  box-shadow: 0px 0px 3px 0px rgba(128, 128, 128, 0.626);
  padding: 1em;
  display: flex;
}

article {
  padding: 0.8em;
  margin-left: 10px;
  margin-bottom: 15px;
}

article p {
  line-height: 1.4em;
}

article > header {
  font-weight: 400;
  text-align: center;
}

article > header > h4, time {
  line-height: 1.5em;
}

article section {
  margin-bottom: 2em;
}

article > section > p {
  margin-top: 0.7em;
  font-size: 17px;
  font-weight: 200;
  line-height: 1.9em;
}

mark {
  width: 50%;
  background-color: rgba(1, 85, 1, 0.674);
  color: rgb(249, 249, 249);
  text-align: center;
}

figure {
  width: 49%;
  height: 20%;
  text-align: center;
  margin-top: 0.8em;
}

figure > img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

figure, figcaption {
  border: 1px solid lightgray;
}

figcaption {
  font-size: 13px;
  padding: 0.8em;
}

details {
  width: 40%;
  padding: 0.2em;
  margin-top: 60px;
  border: 2px solid #666;
  line-height: 1.8em;
}

aside {
  margin: auto 10px;
  padding-left: 1em;
  width: 45%;
  height: 100%;
  box-shadow: inset 5px 0px 13px -2px rgba(5, 171, 5, 0.979);
  float: right;
  line-height: 2.4em;
}

footer {
  line-height: 2em;
}

footer > section {
  margin: 12px 0px;
}

address > p {
  padding-left: 0.8em;
}

body > footer {
  border-top: 2px solid transparent;
  text-align: center;
}
