* {
  margin: 0px;
  padding: 0px;
  border: 0px;
}

body {
  font-family: sans-serif;
  overflow: scroll;
}

header > hgroup {
  background-color: rgba(168, 248, 168, 0.91);
  padding: 0.2em;
  font-weight: 100;
  text-align: center;
  line-height: 3em;
  color: #222;
}

header > hgroup > p{
  font-size: 20px;
  font-weight: 350; 
}

nav > ol {
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
  gap: 50px;
  background-color: rgba(211, 211, 211, 0.494);
  padding: 0.5em;
  padding-right: 3em;
  list-style: none;
}

li > a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}

main {
  width: 70%;
  margin: 15px auto;
  box-shadow: 0px 0px 5px 0px gray;
  padding: 1em;
}

article {
  padding: 0.8em;
  line-height: 2.5em;
  margin-left: 10px;
  margin-bottom: 15px;
}

article > header {
  font-weight: 400;
  text-align: center;
}

article > section > p {
  font-size: 18px;
  font-weight: 200;
}

section:has(mark, done) {
  display: flex;
  flex-direction: column;
}

mark {
  width: 33%;
  background-color: rgba(0, 128, 0, 0.674);
  color: rgb(249, 249, 249);
}

figure {
  border: 2px solid rgba(0, 0, 0, 0.631);
  width: 56.7%;
  text-align: center;
  font-size: 18px;
  margin: 3px;
}

figcaption {
  font-size: 15px;
  background-color: whitesmoke;
}

details {
  width: 25%;
  padding: 0.2em;
  margin-top: 10px;
  border: 2px solid #666;
}

aside{
  margin: 12px 0px;
  padding-left: 0.5em;
  width: 60%;
  background-color: rgba(142, 241, 142, 0.555);
}

footer{
  line-height: 2em;
}

footer > section {
  margin: 12px 0px;
}

address > p{
  padding-left: 0.8em;
}

main > footer{
  border-top: 2px solid transparent;
  text-align: center;
}