body{
  font-family: sans-serif;
  text-align: center;
}

header > hgroup {
  background-color: rgba(32, 178, 171, 0.592);
  padding: 0.2em;
  font-weight: 200;
  color: #333;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 50px;
  background-color: lightgray;
  padding: 0.3em;
}

nav > a {
  text-decoration: none;
  color: #222;
  font-size: 22px;
}
