*{
  margin: 0px;
  padding: 0px;
  border: 0px;
}

body{
  font-family: sans-serif;
  overflow: scroll;
}

header > hgroup {
  background-color: rgba(0, 128, 0, 0.91);
  padding: 0.2em;
  font-weight:lighter;
  text-align: center;
  line-height: 3em;
  color:rgba(255, 245, 238, 0.889) ;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 50px;
  background-color: lightgray;
  padding: 0.5em;
}

nav > a {
  text-decoration: none;
  color: #222;
  font-size: 22px;
}

main{
  width: 80%;
  margin: 15px auto;
  box-shadow: 0px 0px 5px 0px gray;
  padding: 1em;
}

article{
  padding: 0.8em;
  line-height: 2.5em;
}

article > header{
  font-weight: 400;
  text-align: center;
}

article > section > p{
  font-size: 18px;
  font-weight: 200;
}

article > section > mark{
  background-color: rgba(0, 128, 0, 0.787);
  color: rgb(249, 249, 249);
}

section:has(mark, done){
  display: flex;
  flex-direction: column;
}

section > mark{
  width: 28%;
  text-align: center;
}

section > aside{
  width: 30%;
  margin-left: 60em;
  padding-left: 0.3em;
}

figure{
  border: 2px solid rgba(0, 0, 0, 0.631);
  width: 48.9%;
  text-align:center;
  font-size: 18px;
  margin: 3px;
}